@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-shadow {
  text-shadow: 1px 1px 2px #662b09;
  text-decoration: underline;
}

.color-font-dark {
  color: #662b09;
}

.btn-primary,
.bg-primary {
  background-color: #cd6130 !important;
  border-color: #cd6130 !important;
}

/* Pour surcharger la couleur secondaire */
.btn-secondary,
.bg-secondary {
  background-color: #0d98b5 !important;
  border-color: #0d98b5 !important;
}

.btn {
  transition: 0.5 ease;
}

.btn:active {
  transform: scale(0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.678);
  transition: all 0.1s ease;
}

:root {
  --bs-primary: #cd6130;
  --bs-secondary: #0d98b5;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='100' height='100' patternUnits='userSpaceOnUse' patternTransform='rotate(35) '%3E%3Ccircle id='a' data-color='outline' fill='none' stroke='%23FF8945' stroke-width='2.06' cx='0' cy='0' r='60'%3E%3C/circle%3E%3Cuse xlink:href='%23a' x='100'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='100' y='100'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='100'%3E%3C/use%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  font-family: "Comfortaa";
}
body body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  z-index: 50;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

a.nav-link {
  cursor: pointer;
  position: relative;
}
a.nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  left: 50%;
  top: 80%;
  transition: 0.5s ease;
  transform: translateX(-50%);
}
@media (max-width: 991px) {
  a.nav-link::before {
    display: none;
  }
}
a.nav-link:hover::before {
  width: 100%;
  transition: 0.5s ease;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.styled-button {
  display: flex;
  padding: 10px 20px;
  background-color: #ff6c17;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.styled-button:hover {
  background-color: rgba(255, 108, 23, 0.8823529412);
}

/* Personnalisation des scrollbars aux couleurs du thème */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #ff6c17;
}

::-webkit-scrollbar-thumb {
  background: #0d98b5;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
  box-shadow: 0 20px 7px rgba(255, 255, 255, 0.521);
  height: 10%;
}

.modal-content {
  border: 3px solid #ff6c17;
}

div {
  cursor: default;
}

.comment.comment {
  padding: 0;
}

.role-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 300px;
}
.role-container .btn_d_Charge,
.role-container .btn_d_addChild {
  animation: move 1s 0.2s ease forwards;
}
.role-container .btn_d_listChild,
.role-container .btn_d_DispoNounou,
.role-container .btn_d_calendar,
.role-container .btn_d_Facture {
  animation: move-reverse 1s 0.2s ease forwards;
}
.role-container .btn_d_DispoNounou,
.role-container .btn_d_listChild,
.role-container .btn_d_Charge,
.role-container .btn_d_addChild,
.role-container .btn_d_calendar,
.role-container .btn_d_Facture {
  position: relative;
  padding-left: 30px;
}
.role-container .btn_d_DispoNounou::before,
.role-container .btn_d_listChild::before,
.role-container .btn_d_Charge::before,
.role-container .btn_d_addChild::before,
.role-container .btn_d_calendar::before,
.role-container .btn_d_Facture::before {
  content: "✓";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.role-container .btn_d_DispoNounou:hover::before,
.role-container .btn_d_listChild:hover::before,
.role-container .btn_d_Charge:hover::before,
.role-container .btn_d_addChild:hover::before,
.role-container .btn_d_calendar:hover::before,
.role-container .btn_d_Facture:hover::before {
  opacity: 1;
}
.role-container button {
  width: 200px;
}
.role-container h1::after {
  content: "";
  display: block;
  bottom: 0;
  width: 100%;
  position: relative;
  height: 2px;
  background-color: var(--bs-primary);
}

.Dashboard {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  border-radius: 7px;
  margin-bottom: 50px;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.291);
  outline: 2px solid var(--bs-primary);
  padding: 20px;
  animation: reveal 0.5s ease forwards;
}
.Dashboard h2::after {
  content: "";
  display: block;
  bottom: 0;
  width: 100%;
  position: relative;
  height: 2px;
  background-color: var(--bs-primary);
}

.happy-body-container {
  position: relative;
  width: 100vw;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
}
.happy-body-container .happy-body {
  width: inherit;
  height: inherit;
}
.happy-body-container .blur {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 800px;
}
.happy-body-container .blur #calendar {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  width: 95%;
  height: 75%;
  margin: 0 auto;
  transition: all 0.5s ease;
  outline: var(--bs-primary) solid 2px;
  padding: 5px;
}

.form-log-reg {
  border-color: #ff6c17;
  border-width: 3px;
}

.btn-custom-color {
  background-color: #ff6c17;
  border-color: #ff6c17;
  color: #ffffff;
}

.btn-custom-color:hover {
  background-color: #ff8945;
  border-color: #ff8945;
  color: #ffffff;
}

.register-input {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 10px;
}

.register-input:focus-visible {
  border-color: #ff6c17;
  outline: none;
}

.register-label {
  margin-left: 3%;
}

.connect-label {
  margin-left: 3%;
}

.connect-input {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 10px;
}

.connect-input:focus-visible {
  border-color: #ff6c17;
  outline: none;
}

.form-ajout-enfant {
  width: 400px;
}
@media (max-width: 450px) {
  .form-ajout-enfant {
    width: 300px;
  }
}

.reserve-form input ~ label {
  margin: 2px;
  padding: 10px;
  background-color: #ff8945;
  color: white;
  border-radius: 5px;
  border: 2px solid #ff6c17;
}
.reserve-form input:checked + label {
  border: 2px solid white;
  background-color: #ff6c17;
}

#bienvenu {
  font-size: 8rem;
  font-weight: bold;
  color: #ff6c17;
  text-shadow: 0 0 5px #ff5e00;
  position: relative;
  display: inline-block;
}
@media (max-width: 650px) {
  #bienvenu {
    font-size: 3.9rem;
  }
}

.btns-accueil {
  width: 100%;
  height: 90vh;
  gap: 20px;
}
.btns-accueil .btn-custom-color {
  background-color: #ff6c17;
  border-color: #ff6c17;
  color: #ffffff;
}

.btn-custom-color:hover {
  background-color: rgba(255, 108, 23, 0.8823529412);
}

.accueil-welcome-box {
  margin-top: 15vh;
  gap: 15vh;
}
.accueil-welcome-box .accueil-text-welcome-text {
  height: 355px !important;
}
.accueil-welcome-box .accueil-img {
  border-radius: 40px;
}
.accueil-welcome-box .accueil-text-box {
  min-height: 30vh;
  gap: 30px;
  text-align: center;
  align-items: center;
}
@media (max-width: 650px) {
  .accueil-welcome-box .accueil-parent-box {
    flex-direction: column-reverse;
  }
}
.accueil-welcome-box .accueil-text-main-text {
  font-size: 4rem;
  color: #662b09;
  padding: 8px;
  text-shadow: 1px 1px 5px #662b09;
  background-color: hsla(0, 0%, 100%, 0.308);
  border-radius: 20px;
}
.accueil-welcome-box .accueil-triple-text {
  height: 330px;
  font-size: 1.3rem;
  border-color: #ff6c17;
  border-width: 3px;
  padding: 8px;
  background-color: hsla(0, 0%, 100%, 0.9);
  color: #662b09;
}
@media (max-width: 1200px) {
  .accueil-welcome-box .accueil-triple-text {
    font-size: 1rem;
  }
}
.accueil-welcome-box .accueil-triple-box {
  justify-content: space-around;
  min-height: 20vh;
  padding: 8px;
  color: #662b09;
}

.shadow-pop-tr-left {
  animation: shadow-pop-tr-left 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.shadow-pop-tl-right {
  animation: shadow-pop-tl-right 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.slide-bottom {
  transform: translateY(-200px);
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s forwards;
}

.navbar {
  background-color: #ff6c17 !important;
}
.navbar .navbar-brand {
  color: white;
  font-size: 1.6rem;
}
.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover {
  background-color: black;
}

#offcanvasNavbar {
  background: rgb(255, 108, 23);
  font-size: 1.6rem;
  color: white;
}
#offcanvasNavbar .nav-link {
  color: white;
}

#logo-nav {
  height: 50px;
}

.user-data {
  margin: 10vh auto;
  background-color: rgb(255, 255, 255);
  backdrop-filter: 15px;
  outline: 2px solid var(--bs-primary);
  animation: reveal 0.5s ease forwards;
}
.user-data .user-data p {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 7px;
}
.user-data .user-data-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profil-height {
  height: 90vh;
}

.mdp {
  transition: 0.5s ease;
}

.mdp:hover {
  background-color: rgb(0, 128, 0);
  color: white;
  transition: 0.3s ease;
}

/************************* KEVIN *************************/
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes reveal-undo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes move {
  0% {
    margin: inherit;
  }
  33% {
    margin-left: 15px;
  }
  66% {
    margin-left: -15px;
  }
  100% {
    margin: inherit;
  }
}
@keyframes move-reverse {
  0% {
    margin: inherit;
  }
  33% {
    margin-left: -15px;
  }
  66% {
    margin-left: 15px;
  }
  100% {
    margin: inherit;
  }
}
/************************** JORDAN L *****************************/
@keyframes shadow-pop-tr-left {
  0% {
    box-shadow: 0 0 #ff6c17, 0 0 #ff6c17, 0 0 #ff6c17, 0 0 #ff6c17, 0 0 #ff6c17, 0 0 #ff6c17, 0 0 #ff6c17, 0 0 #ff6c17;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #ff6c17, 2px -2px #ff6c17, 3px -3px #ff6c17, 4px -4px #ff6c17, 5px -5px #ff6c17, 6px -6px #ff6c17, 7px -7px #ff6c17, 8px -8px #ff6c17;
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tl-right {
  0% {
    box-shadow: 0 0 #ff6c17, 0 0 #ff6c17, 0 0 #ff6c17, 0 0 #ff6c17, 0 0 #ff6c17, 0 0 #ff6c17, 0 0 #ff6c17, 0 0 #ff6c17;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px -1px #ff6c17, -2px -2px #ff6c17, -3px -3px #ff6c17, -4px -4px #ff6c17, -5px -5px #ff6c17, -6px -6px #ff6c17, -7px -7px #ff6c17, -8px -8px #ff6c17;
    transform: translateX(8px) translateY(8px);
  }
}
@keyframes slide-bottom {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}/*# sourceMappingURL=style.css.map */