.comment.comment {
  padding: 0;
  // Couleurs principales = bleu / jaune / orange cf BORDERLANDS --> MALIWAN

  // #CD6130 = orange / #132531 = bleu
}

.role-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 300px;

  .btn_d_Charge,
  .btn_d_addChild {
    animation: move 1s .2s ease forwards;
  }

  .btn_d_calendar,
  .btn_d_Facture {
    animation: move-reverse 1s .2s ease forwards;
  }

  .btn_d_Charge,
  .btn_d_addChild,
  .btn_d_calendar,
  .btn_d_Facture {
    position: relative;
    /* Positioning context for pseudo-element */
    padding-left: 30px;
    /* To give space for the checkbox */
  }

  .btn_d_Charge::before,
  .btn_d_addChild::before,
  .btn_d_calendar::before,
  .btn_d_Facture::before {
    content: '✓';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .btn_d_Charge:hover::before,
  .btn_d_addChild:hover::before,
  .btn_d_calendar:hover::before,
  .btn_d_Facture:hover::before {
    opacity: 1;
  }

  button {
    width: 200px;


  }

  h1::after {
    content: '';
    display: block;
    bottom: 0;
    width: 100%;
    position: relative;
    height: 2px;
    background-color: var(--bs-primary);
  }
}

.Dashboard {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  border-radius: 7px;
  margin-bottom: 50px;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.291);
  outline: 2px solid var(--bs-primary);
  padding: 20px;
  animation: reveal .5s ease forwards;


  h2::after {
    content: '';
    display: block;
    bottom: 0;
    width: 100%;
    position: relative;
    height: 2px;
    background-color: var(--bs-primary);
  }
}


.happy-body-container {
  position: relative;
  width: 100vw;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;

  .happy-body {
    width: inherit;
    height: inherit;
  }

  .blur {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 800px;

    #calendar {
      display: flex;
      background-color: rgb(255, 255, 255);
      border-radius: 7px;
      width: 95%;
      height: 75%;
      margin: 0 auto;
      transition: all 0.5s ease;
      outline: var(--bs-primary) solid 2px;
      padding: 5px;
    }
  }
}