.comment.comment {
  padding: 0;
  // Couleurs principales = bleu / jaune / orange cf BORDERLANDS --> MALIWAN

  // #CD6130 = orange / #132531 = bleu
}

.role-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

.btn {
  width: 250px;
}

.btn:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.678);
  ;
}

.Dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  background-color: rgba(255, 255, 255, 0.363);
  border-radius: 7px;
  margin-bottom: 50px;
  text-align: center;
}

.happy-body-container {
  position: relative;
  width: 100vw;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;

  .happy-body {
    width: inherit;
    height: inherit;
  }

  .blur {


    #calendar {
      display: flex;
      background-color: rgba(7, 7, 7, 0.329);
      border-radius: 7px;
      width: 95%;
      height: 75%;
      margin: 0 auto;
      transition: all 0.5s ease;
    }

    #calendar:hover {
      background-color: rgba(7, 7, 7, 0.589);
      transition: all 0.5s ease;
    }
  }
}