// Couleurs principales = bleu / jaune / orange cf BORDERLANDS --> MALIWAN

// #CD6130 = orange / #132531 = bleu

.upper-background {
    width: 100%;
    height: 33%;
    background-image: url('ressources\images\dashboard\head.svg');
}