.btn-primary,
.bg-primary {
  background-color: #cd6130 !important;
  border-color: #cd6130 !important;
}

/* Pour surcharger la couleur secondaire */
.btn-secondary,
.bg-secondary {
  background-color: #0d98b5 !important;
  border-color: #0d98b5 !important;
}

:root {
  --bs-primary: #cd6130;
  --bs-secondary: #0d98b5;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.styled-button {
  display: flex;
  padding: 10px 20px;
  background-color: #ff6c17;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.styled-button:hover {
  background-color: #ff6c17e1;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.styled-button {
  display: flex;
  padding: 10px 20px;
  background-color: #ff6c17;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.styled-button:hover {
  background-color: #ff6c17e1;
}

/* Personnalisation des scrollbars aux couleurs du thème */

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #ff6c17;
}

::-webkit-scrollbar-thumb {
  background: #0d98b5;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
  box-shadow: 0 20px 7px rgb(255, 255, 255);
  height: 10%;
}

.modal-content {
  border: 3px solid #ff6c17;
}