.btn-primary, .bg-primary {
    background-color: #CD6130 !important;
    border-color: #CD6130 !important;
}

/* Pour surcharger la couleur secondaire */
.btn-secondary, .bg-secondary {
    background-color: #132531 !important;
    border-color: #132531 !important;
}

:root {
    --bs-primary: #CD6130;
    --bs-secondary: #132531;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.styled-button {
    display: flex;
    padding: 10px 20px;
    background-color: #FF6C17;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.styled-button:hover {
    background-color: #ff6c17e1;
}