.navbar {
  background-color: #ff6c17 !important;
  .navbar-brand {
    color: white;
    font-size: 1.6rem;
  }
  .dropdown-item:focus, .dropdown-item:hover{
    background-color:black;
  }
}

#offcanvasNavbar {
  background: rgb(255, 108, 23);
  font-size: 1.6rem;
  color: white;
  .nav-link {
    color: white;
  }
}

#logo-nav {
  height: 50px;
}
